<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS Aplication</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
	<script src="vendor/angularjs/angular.js"></script>
	<script src="aplication/js/myApp.js"></script>
	<script src="aplication/js/controller/MeuController.js"></script>
</head>
<body ng-controller="MeuController">
	<div class="container">
		<h1>AngularJS</h1>
		<form ng-submit="enviaDados(pessoa)">
			<div class="form-group">
				<div class="form-group">
	    			<label>Id</label>
	    			<input ng-model = "pessoa.id" type="number" class="form-control" placeholder="Código">
	  			</div>
				<div class="form-group">
	    			<label>Nome</label>
	    			<input required minlength="3" ng-model = "pessoa.nome" type="text" class="form-control" placeholder="Nome">
	  			</div>
				<div class="form-group">
	    			<label>E-mail</label>
	    			<input required ng-model="pessoa.email" type="email" class="form-control" placeholder="E-mail">
	  			</div>
	  			<div class="form-group">
	    			<label>Telefone</label>
	    			<input required minlength="8" ng-model="pessoa.telefone" type="text" class="form-control" placeholder="Telefone">
	  			</div>
	  			<button type="submit" class="btn btn-success pull-right">Enviar</button>
				<div class="clearfix"></div>	  			
			</div>
		</form>
		<br>
		<br>
		<br>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Telefone</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in dados">
					<td>{{item.id}}</td>
					<td>{{item.nome}}</td>
					<td>{{item.email}}</td>
					<td>{{item.telefone}}</td>
				</tr>
			</tbody>			
		</table>
	</div>
</body>
</html>